
  .cjv4xmenumobil {
    display: none;
    cursor: pointer;
  }

  .cjv4xChildren {
    display: flex;
    width: var(--max);
    gap: 15px;
    align-items: end;
  }

  .cjv4x {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
  }

  .cjv4xtitle {
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cjv4xtitlebody {
    color: #fff;
    width: var(--max);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
  }

  .cjv4xtitlebodytitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .cjv4xtitlebodylang {
    width: auto;
    margin: -5px 0px -5px 0px;
  }

  .cjv4xtitlebodylang ul {
    display: flex;
    gap: 5px;
  }

  .cjv4xbody {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 5px 0px;
  }

  .cjv4xmenulist {
    display: block;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .cjv4xmenubody {
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cjv4xmenulist ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    overflow-x: auto;
  }

  .cjv4xmenulist ul a {
    padding: 8px;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #999;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
  }

  .cjv4xmenulist ul a:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
  }

  .cjv4xmenuitem {
    padding: 8px;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #999;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
  }

  .cjv4xmenuactive {
    background-color: #e0e0e0 !important;
    border-radius: 5px;
    color: #000 !important;
    font-weight: bold;
  }

  .cjv4xbodylogo {
    height: 100px;
    max-width: 90vw;
  }

  @media screen and (min-width: 1024px) {
    .cjv4xmenumobil {
      display: none !important;
    }

    .cjv4xmenulist {
      display: flex !important;
    }
  }

  @media screen and (max-width: 1024px) {
    .cjv4xmenumobil {
      display: flex;
      align-items: center;
      justify-content: end;
      background-color: #000;
      width: 100%;
    }

    .cjv4xmenumobil div {
      font-size: 32px;
      color: #fff;
      padding: 5px;
    }

    .cjv4xmenulist {
      display: none;
    }

    .cjv4xbody {
      flex-direction: column;
      gap: 20px;
    }

    .cjv4xChildren {
      width: 100%;
      gap: 0px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .cjv4xmenulist ul a {
      padding: 10px 0px 10px 0px;
    }

    .cjv4xmenu {
      overflow-x: auto;
    }

    .cjv4xmenulist ul {
      flex-direction: column;
    }

    .cjv4xbodylogo {
      max-height: 50vw;
      max-width: 50vw;
      max-height: 100px;
    }
  }

  @media screen and (max-width: 768px) {
    .cjv4xmenulist ul a {
      font-size: 14px;
    }
  }


  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Safari özel düzeltme */
  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
      .swiper-slide>img {
        height: auto;
        min-height: 100%;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
      }

      .swiper-slide {
        overflow: hidden;
      }
    }
  }

  .swiper-container {
    margin-left: auto;
    margin-right: auto;
  }


  .cn2tg-out {
    background-color: #000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin: 20px 0px 20px 0px;
    float: left;
  }

  .cn2tg-right-body-chile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
  }

  .cn2tg-right-body-chile-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: solid;
    border-style: dashed;
    border-width: 0px 0px 0px 5px;
    padding-left: 10px;
  }

  .cn2tg-right-body-chile-row-name {
    font-size: 22px;
    font-weight: 500;
  }

  .cn2tg-right-body-chile-row-spot {
    font-size: 18px;
  }

  .cn2tg-right-body {
    width: 100%;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }

  .cn2tg-right-body-name {
    font-size: 28px;
    font-weight: 500;
  }

  .cn2tg-right-body-spot {
    font-size: 18px;
  }

  .cn2tg {
    width: var(--max);
    display: flex;
    flex-direction: row;
    min-height: 400px;
    float: left;
  }

  .cn2tg-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cn2tg-left {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .cn2tg-left-img {
    aspect-ratio: 1/1;
    border-radius: 100%;
    width: 300px;
    background-color: bisque;
    margin-right: -150px;
    border: solid 15px #fff;
    box-shadow: 0 4px 40px rgba(29, 27, 76, 0.32);
  }

  @media screen and (max-width: 1024px) {
    .cn2tg {
      width: 100%;
      display: flex;
      flex-direction: column;
      min-height: 400px;
      float: left;
      padding: 15px 0px 15px 0px;
    }

    .cn2tg-left-img {
      width: calc(var(--max) / 2);
      max-width: 200px;
      margin-right: 0px;
      float: left;
    }

    .cn2tg-right-body {
      margin-left: 0;
      padding: 10px;
    }

    .cn2tg-left {
      justify-content: center;
      background-color: #000000;
    }
  }

  @media screen and (min-width: 1024px) {
    .cn2tg {
      width: var(--max);
      display: flex;
      flex-direction: row;
      min-height: 400px;
    }

    .cn2tg-right-body-chile-row {
      flex: 1;
    }

    .cn2tg-right {
      flex: 5;
    }

    .cn2tg-left {
      flex: 1;
    }
  }


  .wmrm6-text-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      135deg,
      #000 0%,
      #333 33%,
      #000 66%,
      #333 100%
    );
    margin: 15px 0px 0px 0px;
    padding: 25px 0px 25px 0px;
    font-size: 36px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
    letter-spacing: 1px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  @media screen and (max-width: 1200px) {
  }


  .zc5rz {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .zc5rzbody {
    width: var(--max);
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    justify-content: center;
    /* Center all grid items */
  }

  .zc5rzbodyitem {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    /* Add ease for smoother transitions */
    justify-content: center;
  }

  .zc5rzbodyitem:hover {
    transform: scale(1.05);
    /* Zoom effect */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  }

  .zc5rzbodyitemimg {
    aspect-ratio: 2 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .zc5rzbodyitemimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover the entire area */
  }

  .zc5rzbodyitemtitle {
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: #444;
    font-size: 1.1em;
  }

  @media screen and (max-width: 1024px) {
    .zc5rzbody {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 768px) {
    .zc5rzbody {
      grid-template-columns: repeat(2, 1fr);
    }
  }


  .uyvy7-text-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      135deg,
      #000 0%,
      #333 33%,
      #000 66%,
      #333 100%
    );
    margin: 15px 0px 0px 0px;
    padding: 25px 0px 25px 0px;
    font-size: 36px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
    letter-spacing: 1px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  @media screen and (max-width: 1200px) {
  }


  .aepxq {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aepxqbody {
    width: var(--max);
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    justify-content: center;
    /* Center all grid items */
  }

  .aepxqbodyitem {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    /* Add ease for smoother transitions */
    justify-content: center;
  }

  .aepxqbodyitem:hover {
    transform: scale(1.05);
    /* Zoom effect */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  }

  .aepxqbodyitemimg {
    aspect-ratio: 2 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .aepxqbodyitemimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover the entire area */
  }

  .aepxqbodyitemtitle {
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: #444;
    font-size: 1.1em;
  }

  @media screen and (max-width: 1024px) {
    .aepxqbody {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 768px) {
    .aepxqbody {
      grid-template-columns: repeat(2, 1fr);
    }
  }


  .gkvzh-text-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      135deg,
      #000 0%,
      #333 33%,
      #000 66%,
      #333 100%
    );
    margin: 15px 0px 0px 0px;
    padding: 25px 0px 25px 0px;
    font-size: 36px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
    letter-spacing: 1px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  @media screen and (max-width: 1200px) {
  }


  .cly0w {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cly0wbody {
    width: var(--max);
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    /* 3 columns */
    justify-content: center;
    /* Center all grid items */
  }

  .cly0wbodyitem {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    /* Add ease for smoother transitions */
    justify-content: center;
  }

  .cly0wbodyitem:hover {
    transform: scale(1.05);
    /* Zoom effect */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  }

  .cly0wbodyitemimg {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .cly0wbodyitemimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover the entire area */
  }

  .cly0wbodyitemtitle {
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: #444;
    font-size: 1.1em;
  }

  @media screen and (max-width: 1024px) {
    .cly0wbody {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 768px) {
    .cly0wbody {
      grid-template-columns: repeat(2, 1fr);
    }
  }


  .footer {
    position: relative;
    background: #000000;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
  }

  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .menu__link {
    font-size: 1.2rem;
    color: #fff !important;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='katman_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 65' style='enable-background:new 0 0 640 65;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23000000;%7D %3C/style%3E %3Cpath class='st0' d='M0,22.4C0,22.4,74.1,0,153,0c176.5,0,328.1,76.6,487,22.4V65H0V22.4z'/%3E%3C/svg%3E");
    background-size: 1000px 102px;
  }

  .wave#wave1 {
    z-index: 100;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }

  .wave#wave2 {
    z-index: 99;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }

  .wave#wave3 {
    z-index: 100;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }

  .wave#wave4 {
    z-index: 99;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

